{% extends './base_manage.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="../../static/css/manage_page/manage_main.css">
{% endblock %}
{% block content %}
<div>
    <img class="profile-back" src="../../static/img/profile_back.jpg">
    <div class="profile-container">
        <img src="../../static/img/profile_default.png"alt="프로필 사진">
        
        <div class="name-container">
            <p><strong>박민선</strong></p>
        </div>
    </div>

    <div class="info-container">
        <div class="spec">
            <div>
                <div class="spec-title">
                    <p>PROFILE</p>
                </div>
                
                <strong>생년월일 </strong>2000.11.25 <br>
                <strong>성별 </strong>여 <br>
                <strong>전화번호 </strong> 010-1234-5678<br>
                <strong>이메일 </strong> min@hanyang.ac.kr
            </div>
            <div>
                <div class="spec-title">
                    <p>FIELD</p>
                </div>    
                
                <strong>직급</strong> 직원<br>
                <strong>소속부서</strong> 마케팅
            </div>
        </div>
    </div>
</div>
{% endblock %}