{% extends 'base_mypage.html' %}
{% block content %}   
    <h1 class="mt-4">마이 페이지</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">예매 정보</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            이벤트 참여 기록
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>이벤트 이름</th>
                        <th>참여 날짜</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>이벤트 이름</th>
                        <th>참여 날짜</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>                                            
                        <td>선착순 할인</td>
                        <td>2021.12.01</td>                                    
                    </tr>
                    <tr>
                        <td>또 다른 이벤트</td>
                        <td>2021.12.04</td>                                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}