{% extends 'base_mypage.html' %}
{% block content %}                        
        <h1 class="mt-4">회원 정보 수정</h1>
        <ol class="breadcrumb mb-4">
            <!-- <li class="breadcrumb-item active">회원 정보</li> -->
        </ol>
        <section class="signup spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>Change Password</h3>
                            <form action="#">
                                <div class="input__item">
                                    <input type="password" placeholder="Password" name="password">
                                    <span class="icon_lock"></span>
                                </div>
                                <div class="input__item">
                                    <input type="password" placeholder="Password confirmation">
                                    <span class="icon_lock"></span>
                                </div>
                                <button type="submit" class="site-btn">Change Password</button>
                            </form>
                        </div>  
                    </div>
                    <div class="col-lg-6">
                        <div class="login__form">
                            <h3>Change Email</h3>
                            <form action="#">
                                <div class="input__item">
                                    <input type="text" placeholder="Email address">
                                    <span class="icon_mail"></span>
                                </div>
                                <button type="submit" class="site-btn">Change Email</button>
                            </form>
                        </div>        
                    </div>
                </div>
            </div>
        </section>                  
{% endblock %}