{% extends 'base_mypage.html' %}
{% block content %}          
        <h1 class="mt-4">회원 정보</h1>
        <ol class="breadcrumb mb-4">
            <!-- <li class="breadcrumb-item active">회원 정보</li> -->
        </ol>

        <div class="mypage__info">
            <hr>
            <br>
        <div class="anime__review__item">
                
            <div class="anime__review__item__text">
                <h6>이름</h6>
                <p>홍길동 (예시)</p>
            </div>
        </div>
        <div class="anime__review__item">
            
            <div class="anime__review__item__text">
                <h6>회원 등급</h6>
                <p>vip (예시)</p>
            </div>
        </div>
        <div class="anime__review__item">
            
            <div class="anime__review__item__text">
                <h6>생년 월일</h6>
                <p>2021.12.02 (예시)</p>
            </div>
        </div>
        <div class="anime__review__item">
            
            <div class="anime__review__item__text">
                <h6>성별</h6>
                <p>남 (예시)</p>
            </div>
        </div>
        <div class="anime__review__item">
            
            <div class="anime__review__item__text">
                <h6>아이디</h6>
                <p>id</p>
            </div>
        </div>
        <div class="anime__review__item">
            
            <div class="anime__review__item__text">
                <h6>전화번호</h6>
                <p>010-1111-1111</p>
            </div>
        </div>
        <div class="anime__review__item">                
            <div class="anime__review__item__text">
                <h6>이메일</h6>
                <p>naver@naver.com</p>
            </div>
        </div>
    </div>          
{% endblock %}