{% extends 'base.html' %}
{% block contents %}
    <!-- Breadcrumb Begin -->

    
        <div class="row">
            <div class="col-lg-12">
                <div class="event-detail" style="position: relative;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 40px;
                margin-left: 0px;
                padding-top: 50px;
                padding-right: 15%;
                padding-bottom: 30px;
                padding-left: 15%;
                overflow-x: hidden;">
                    <h2 class="tit">모든 요일 6천원 할인!</h2>
                     <p class="event-detail-date">
                         <span>기간 | </span>
                          <em>                             
                              2021.11.29 ~ 2021.12.31
                          </em>
                          <hr>             
                     </p>
                     <div class="event__img">
                        <img src="static/img/event/event1-1.jpg" style="width: 100%;">
                        <img src="static/img/event/event1-2.jpg" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

{% endblock %}