{% extends 'base.html' %}
{% block contents %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>이벤트</h2>
                        <p>진행중인 이벤트를 확인해보세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 1</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 2</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 3</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 4</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 5</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/event/event1.jpg"></div></a>        
                                <div class="product__item__text">
                                    <h5>2021.11.20~2020.11.24</h5>
                                    <h5><a href="#">이벤트 6</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}