{% extends 'main.html' %}
{% block contents %}
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" style="height: 200px;" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>로그인</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad" style="padding-top: 0;">
        <div class="container">
            <div class="row">
                
                    <div class="login__form" style="margin: auto;">
                        <h3>로그인</h3>
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="input__item">
                                <input type="username" placeholder="아이디" name="username">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="비밀번호" name="password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">로그인</button>
                        </form>
                        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                            <a href="{% url 'forget' %}" class="forget_pass">비밀번호/아이디 찾기</a>
                            <a id="signup_text" href="{% url 'signup' %}">회원가입</a>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}