{% extends 'base.html' %}
{% block contents %}

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="static/img/poster/84945_320.jpg">
                            <!-- <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div> <!-뷰 개수-> -->
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">                           
                                <h3>듄</h3> <!--한글 영화 제목-->
                                <span>Dune</span> <!--원어영화제목-->
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a><!--꽉찬 별-->
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <span>102개 평점</span> 
                            </div>
                            <p>“듄을 지배하는 자가 우주를 지배한다!”

                                10191년, 아트레이데스 가문의 후계자인 폴(티모시 샬라메)은 시공을 초월한 존재이자 
                                전 우주를 구원할 예지된 자의 운명을 타고났다. 
                                그리고 어떤 계시처럼 매일 꿈에서 아라키스 행성에 있는 한 여인을 만난다. 
                                모래언덕을 뜻하는 '듄'이라 불리는 아라키스는 물 한 방울 없는 사막이지만 
                                우주에서 가장 비싼 물질인 신성한 환각제 스파이스의 유일한 생산지로 이를 차지하기 위한 전쟁이 치열하다. 
                                황제의 명령으로 폴과 아트레이데스 가문은 죽음이 기다리는 아라키스로 향하는데…
                                
                                위대한 자는 부름에 응답한다, 두려움에 맞서라, 이것은 위대한 시작이다!</p><!--영화설명-->
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>감독:</span> 드니 빌뇌브</li>
                                            <li><span>장르:</span> SF</li>
                                            <li><span>출연:</span> 티모시 샬라메, 레베카 퍼거슨</li>
                                            <li><span>개봉일:</span> 2021.10.20</li>
                                            <!-- <li><span>Status:</span> Airing</li> -->
                                           
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>연령제한:</span> 12세</li>                                    
                                            <li><span>상영 시간:</span> 155분</li>
                                            <li><span>2D / 3D:</span> 2D</li>
                                            <li><span>평점:</span> 7.31</li>
                                            <!-- <li><span>Views:</span> 131,541</li>
                                            <li><span>Rating:</span> 8.5 / 161 times</li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                <!-- <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> 찜하기</a> -->
                                <a href="{% url 'ticket_list' %}" class="watch-btn"><span>예매하기</span> <!--<i
                                    class="fa fa-angle-right"></i>--></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>영화 후기</h5>
                            </div>
                            <div class="anime__review__item"> <!--리뷰 댓글-->
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-1.jpg" alt="">
                                </div>
                                -->
                                <div class="anime__review__item__text">
                                    <h6>홍길동 - <span>어제</span></h6>
                                    <p>재밌네요 강추합니다</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-2.jpg" alt="">
                                </div>
                                -->
                                <div class="anime__review__item__text">
                                    <h6>장금 - <span>어제</span></h6>
                                    <p>별로였어요</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-3.jpg" alt="">
                                </div>
                                -->
                                <div class="anime__review__item__text">
                                    <h6>춘향이 - <span>어제</span></h6>
                                    <p>볼만해요</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-4.jpg" alt="">
                                </div>
                                -->
                                <div class="anime__review__item__text">
                                    <h6>김흥부 - <span>2일 전</span></h6>
                                    <p>그럭저럭입니다. 한번쯤은 볼만해요</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-5.jpg" alt="">
                                </div>
                                -->
                                <div class="anime__review__item__text">
                                    <h6>놀부 - <span>3일 전</span></h6>
                                    <p>배우들 연기가 좋았어요</p>
                                </div>
                            </div>
                            <div class="anime__review__item">
                                <!--
                                <div class="anime__review__item__pic">
                                    <img src="img/anime/review-6.jpg" alt="">
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>후기 남기기</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="후기를 입력하세요"></textarea>
                                <button type="submit">등록</button>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Anime Section End -->

{% endblock %}