{% extends 'base.html' %}
{% block contents %}
<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>전체 영화</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/83105_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">유체이탈자</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="{% url 'movie_detail' %}"><div class="product__item__pic set-bg" data-setbg="static/img/poster/84945_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="{% url 'movie_detail' %}">듄</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85011_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">이터널스</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85121_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">엔칸토-마법의 세계</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85127_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">메인드 인 이태리</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85148_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">장르만 로맨스</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85239_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">연애 빠진 로맨스</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/12375_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">타짜</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/77342_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">호빗:3부작</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/82175_185.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">캣츠</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85091_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">파워 오브 도그</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85093_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">신의 손</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85112_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">디어 에반 핸슨</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85234_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">프렌치 디스패치</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85261_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">라스트 나잇 인 소호</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a href="#"><div class="product__item__pic set-bg" data-setbg="static/img/poster/85294_320.jpg">
                                    <div class="ep">상영중</div>
                                </div></a>
                                <div class="product__item__text">
                                    <h5><a href="#">로그북</a></h5>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="static/img/poster/85447_320.jpg">
                                    <div class="ep">상영중</div>
                                </div>
                                <div class="product__item__text">
                                    <h5><a href="#">팬텀:더 뮤지컬 라이브</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="static/img/poster/85486_320.jpg">
                                    <div class="ep">상영중</div>
                                </div>
                                <div class="product__item__text">
                                    <h5><a href="#">간호중</a></h5>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="product__pagination">
                    <a href="#" class="current-page">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#"><i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock %}