{% extends 'base.html' %}
<head>
    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" href="../static/css/ticketing.css">
        <link rel="stylesheet" href="../static/css/ticket_component.css">
        <link rel="stylesheet" href="../static/css/ticket_demo.css">
        <link rel="stylesheet" href="../static/css/ticket_normalize.css">
        <script src="../static/js/modernizr-custom.js"></script>
    {% endblock %}
</head>

{% block contents %}
<!-- ticketing section begin -->
<section class="ticketing">
    <h3>예매하기</h3>
    <form id="ticket__info" action="" method="POST">
        {% csrf_token %}
        <div class="ticketing__container">
            <div class="ticketing__calender">
                <input type="date" name="" id="ticket_date" onchange="dateChangeHandler(event)">
            </div>
            <div class="ticketing__select">
                <div class="movie select_container">
                    <h5>영화</h5>
                    <div id="movie_list" class="select_list">
                        {% for movie in movies %}
                        <input type="radio" class="movie" name="movie" id="{{ movie.movie_id }}" value="{{ movie.movie_name }}" onclick="movie_onClick(event)"><label for="{{ movie.movie_id }}">{{ movie.movie_name }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="theater select_container">
                    <h5>극장</h5>
                    <div>
                        <div id="theater_list" class="select_list"></div>
                        <div id="branch_list" class="select_list"></div>
                    </div>
                </div>
                <div class="time select_container">
                    <h5>시간</h5>
                    <div id="time_list" class="select_list"></div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;margin-top: 20px;">
            <button id="select_seat_btn" type="button" onclick="seatBtnOnClick()">좌석 선택</button>
        </div>
    </form>
    
    <div id="modal" style="height: 450px;">
        <div class="seat_header">
            <input id="seat__back_btn" type="button" value="뒤로가기" onclick="backBtnOnClick()">
            <h2 class="header__title">스크린</h2>
        </div>
        <div class="plan">
            <div class="rows rows--mini">
               <!-- seat bts(radio inputs) --> 
            </div>
            <!-- /rows -->
            <ul class="legend">
                <li class="legend__item legend__item--free">Free</li>
                <li class="legend__item legend__item--reserved">Reserved</li>
                <li class="legend__item legend__item--selected">Selected</li>
            </ul>
            <button onclick="reserveBtnOnClick()" class="action action--buy">Buy tickets</button>
        </div><!-- /plan -->
        <button class="action action--lookaround action--disabled" arial-label="Unlook View"></button>
    </div>
    
</section>

<script src="../static/js/ticket_classie.js"></script>
    <script src="../static/js/ticket_main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    let context = new Object();

    /* 좌석 선택 화면 */
    function seatBtnOnClick() {
        const SEAT_COLUMN = 18;
        
        $.ajax({
            method: "POST",
            url: './ticketing',
            data: {
                'message': "submit",
                'date': context.ticket_date,
                'movie_name': context.movie_name,
                'movie_id': context.movie_id,
                'theater_city': context.movie_city, // 도시 이름(BranchOffice)
                'branch_name': context.branch_name, // 지점 이름(BranchOffice)
                'theater_name': context.theater_name, // 상영관 극장 이름
                'start_time': context.start_time,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
        })
        .done(res => {
            $(".rows--mini").empty();
            $("#ticket__info").css('display', 'none');
            $("#modal").css('display', 'block');
            let all_seats = res.all_seats;
            let reservations = res.reservations;
            let seat_rows = res.seat_rows;
            let seats_num = Object.keys(all_seats).length;

            reservation_seat_ids = new Array();
            reservations.forEach(reservation => {
                reservation_seat_ids.push(reservation.seat_id)
            });

            for (let i = 0; i < seat_rows; ++i) {
                /* <div id="seat__row1" class="seat_row"> */
                let new_seat_row = document.createElement('div');
                new_seat_row.setAttribute('class', "seat_row");
                new_seat_row.setAttribute('id', "seat_row"+(i+1));
                $(".rows--mini").append(new_seat_row);
            }

            for (let i = 0; i < seat_rows; ++i) {
                /* <input type="radio" name="seat" id="A1" value="A1"/><label class="row__seat seat_tooltip" data-tooltip="A1" for="A1"></label> */
                let row = $("#seat_row"+(i+1));
                // let column = i === 0 ? (seats_num > SEAT_COLUMN ? SEAT_COLUMN : seats_num) : seats_num % (SEAT_COLUMN);
                
                for (let j = 0; j < 18; ++j) {
                    let new_seat_num = all_seats[(i * SEAT_COLUMN) + j].seat_num;
                    
                    /* <input type="radio" name="seat" id="A1" value="A1"/> */
                    let new_seat_input = document.createElement('input');
                    new_seat_input.setAttribute('type', 'radio');
                    new_seat_input.setAttribute('name','seat');
                    new_seat_input.setAttribute('id', new_seat_num);
                    new_seat_input.setAttribute('value', new_seat_num);
                    new_seat_input.required = true;

                    /* <label class="row__seat seat_tooltip" data-tooltip="A1" for="A1"></label> */
                    /* <label class="row__seat row__seat--reserved" for="A1"></label> */
                    let new_seat_label = document.createElement('label');
                    new_seat_label.setAttribute('for', new_seat_num);

                    if (reservation_seat_ids.includes(all_seats[(i * SEAT_COLUMN) + j].id)) {
                        new_seat_label.setAttribute('class', 'row__seat row__seat--reserved');
                        new_seat_input.disabled = true;
                    } else {
                        new_seat_label.setAttribute('class', 'row__seat seat_tooltip');
                        new_seat_label.setAttribute('data-tooltip', new_seat_num);
                    }
                    
                    row.append(new_seat_input);
                    row.append(new_seat_label);
                }
            }
        })
        .fail((xhr, status, errorThrown) => {
            alert("오류가 발생했습니다: " + errorThrown);
        })
    }

    function backBtnOnClick() {
        $("#ticket__info").css('display', 'block');
            $("#modal").css('display', 'none');
    }

    function reserveBtnOnClick() {
        
        $.ajax({
            method: "post",
            url: './ticketing',
            data: {
                'message': "reservation",
                'movie_id': context.movie_id,
                'branch_city': context.movie_city,
                'branch_name': context.branch_name,
                'theater_name': context.theater_name,
                'seat_num': context.seat,
                'start_time': context.start_time,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
        })
        .done(res => {
            if (res.success) {
                window.location.href = res.url;
            } else {
                alert("알 수 없는 오류로 예약에 실패하였습니다.")
            }
        })
        .fail({

        })
    }

    /* 티켓 선택 화면 */
    function dateChangeHandler(event) {
        context.ticket_date = event.target.value;

        let theater_list = document.getElementById("theater_list");
        while(theater_list.hasChildNodes()) {
            theater_list.removeChild(theater_list.firstChild);
        }
        let branch_list = document.getElementById("branch_list");
        while(branch_list.hasChildNodes()) {
            branch_list.removeChild(branch_list.firstChild);
        }
        let time_list = document.getElementById("time_list");
        while(time_list.hasChildNodes()) {
            time_list.removeChild(time_list.firstChild);
        }
        $("input:radio[class='movie']").prop("checked", false);
    }

    function movie_onClick(event) {
        context.movie_name = event.target.value;
        let theater_list = document.getElementById("theater_list");
        while(theater_list.hasChildNodes()) {
            theater_list.removeChild(theater_list.firstChild);
        }
        let branch_list = document.getElementById("branch_list");
        while(branch_list.hasChildNodes()) {
            branch_list.removeChild(branch_list.firstChild);
        }
        let time_list = document.getElementById("time_list");
        while(time_list.hasChildNodes()) {
            time_list.removeChild(time_list.firstChild);
        }

        let pk = event.target.id;
        context.movie_id = pk;
        $.ajax({
            method: "GET",
            url: './ticketing',
            data: {
                'message': "movie_name_click",
                'movie_id': pk,
                'ticket_date': $("#ticket_date").val(),
                // 'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: "json",
        })
        .done(res => {
            if (res.alert) {
                $("input:radio[class='movie']").prop("checked", false);
                alert(res.alert);
                return;
            }
            
            let theaters = res.theaters;
            
            theaters.forEach(theater => {
                let new_input = document.createElement('input');
                new_input.setAttribute("id", theater);
                new_input.setAttribute("type", 'radio');
                new_input.setAttribute("value", theater);
                new_input.setAttribute("class", 'theater_city');
                new_input.setAttribute("name", 'theater_city');
                new_input.required = true;

                let new_label = document.createElement('label');
                new_label.setAttribute("for", theater);
                new_label.appendChild(document.createTextNode(theater));

                document.getElementById("theater_list").appendChild(new_input);
                document.getElementById("theater_list").appendChild(new_label);
                // $('#theater_list').append(new_radio);
            });   
        })
        .fail((xhr, status, errorThrown) => {
            alert("오류가 발생했습니다: " + errorThrown);
        })
    
    }

    $(function () {

        $("#theater_list").on("click", ".theater_city", () => {
            let movie_city = event.target.value;
            // let movie_city = $(this).val();
            
            context.movie_city = movie_city;
            
            is_requested = context.movie_city ? true : false;
            let branch_list = document.getElementById("branch_list");
            while(branch_list.hasChildNodes()) {
                branch_list.removeChild(branch_list.firstChild);
            }
            let time_list = document.getElementById("time_list");
            while(time_list.hasChildNodes()) {
                time_list.removeChild(time_list.firstChild);
            }
            // $('#branch_list').empty();
            $.ajax({
                method: "GET",
                url: './ticketing',
                data: { 
                    'message': "theater_city_click",
                    'ticket_date': $("#ticket_date").val(),
                    'ticket_date': context.ticket_date,
                    'movie_id': context.movie_id,
                    'movie_city': movie_city,
                    // 'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
            })
            .done(res => {
                let branch_names = res.branch_names;
                branch_names.forEach(branch_name => {
                    let new_input = document.createElement('input');
                    new_input.setAttribute("id", branch_name);
                    new_input.setAttribute("type", 'radio');
                    new_input.setAttribute("value", branch_name);
                    new_input.setAttribute("class", 'theater_branch');
                    new_input.setAttribute("name", 'theater_branch');
                    new_input.required = true;

                    let new_label = document.createElement('label');
                    new_label.setAttribute("for", branch_name);
                    new_label.appendChild(document.createTextNode(branch_name));

                    document.getElementById("branch_list").appendChild(new_input);
                    document.getElementById("branch_list").appendChild(new_label);
                    // $('#branch_list').append(new_radio);
                });
            })
            .fail((xhr, status, errorThrown) => {
                alert("오류가 발생했습니다: " + errorThrown);
            });
        });

        $("#branch_list").on("click", ".theater_branch", () => {
            let branch_name = event.target.value;
            context.branch_name = branch_name;
            
            let time_list = document.getElementById("time_list");
            while(time_list.hasChildNodes()) {
                time_list.removeChild(time_list.firstChild);
            }
            $.ajax({
                method: "GET",
                url: "./ticketing",
                data: {
                    'message': "theater_branch_click",
                    'ticket_date': $("#ticket_date").val(),
                    'movie_id': context['movie_id'],
                    'theater_city': context['movie_city'],
                    'branch_name': context['branch_name'],
                },
                dataType: "json",
            }).done(res => {
                let screens = res.screens;
                
                screens.forEach(screen => {
                    let start_time_arr = (screen.start_time).split("");
                    let end_time_arr = (screen.end_time).split("");
                    
                    start_time_arr = start_time_arr.slice((start_time_arr).indexOf("T") + 1, (start_time_arr).indexOf("Z"));
                    start_time_arr = start_time_arr.slice(0, 5);
                    const START_TIME = start_time_arr.join("");
                    end_time_arr = end_time_arr.slice((end_time_arr).indexOf("T") + 1, (end_time_arr).indexOf("Z"));
                    end_time_arr = end_time_arr.slice(0, 5);
                    const END_TIME = end_time_arr.join("");


                    let new_input = document.createElement('input');
                    new_input.setAttribute("id", screen.start_time);
                    new_input.setAttribute("type", 'radio');
                    new_input.setAttribute("value", screen.theater_name);
                    new_input.setAttribute("class", 'ticket_info');
                    new_input.setAttribute("name", 'ticket_info');
                    new_input.required = true;

                    let new_label = document.createElement('label');
                    new_label.setAttribute("for", screen.start_time);
                    
                    let new_p = document.createElement('p');
                    let theater_head = document.createElement('h5');
                    theater_head.append(screen.theater_name);
                    new_p.append(theater_head);
                    let theater_content = document.createElement('p');
                    let time_text = START_TIME + " - " + END_TIME;
                    theater_content.append(time_text);
                    new_p.append(theater_content);
                    new_label.appendChild(new_p);

                    document.getElementById("time_list").appendChild(new_input);
                    document.getElementById("time_list").appendChild(new_label);
                })
            })
        })

        $("#time_list").on("click", ".ticket_info", () => {
            let theater_name = event.target.value;
            let start_time = event.target.id;
            context.theater_name = theater_name;
            context.start_time = start_time;
        })

        $(".rows--mini").on("click", ".seat_tooltip", () => {
            context.seat = event.target.htmlFor;
        })
    }) 
</script> 
<script src="../static/js/ticket_classie.js"></script>
<script src="../static/js/ticket_main.js"></script>
{% endblock %}