{% extends 'base.html' %}
<head>
    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" href="../static/css/ticketing.css">
    {% endblock %}
</head>

{% block contents %}
<!-- ticketing section begin -->
<section class="ticketing">
    <h3>예매하기</h3>
    <form class="ticketing__container" action="" method="get">
        <div class="ticketing__calender">
            <input type="date" name="" id="">
        </div>
        <div class="ticketing__select">
            <div class="movie select_container">
                <h5>영화</h5>
                <div class="select_list">
                    <input type="radio" name="movie" id="movie1" value="영화1"><label for="movie1">영화1</label>
                    <input type="radio" name="movie" id="movie2" value="영화2"><label for="movie2">영화2</label>
                </div>
            </div>
            <div class="theater select_container">
                <h5>극장</h5>
                <div class="select_list"></div>
            </div>
            <div class="time select_container">
                <h5>시간</h5>
                <div class="select_list"></div>
            </div>
        </div>
    </form>
</section>
{% endblock %}