<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="SQL-Movie">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie SQL</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'home' %}">
                            <img src="" alt="">로고
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="navmenu"><a href="{% url 'ticketing' %}">근태관리<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'attendence' %}">출퇴근</a></li>
                                        <li><a href="{% url 'vacation' %}">휴가관리</a></li>
                                        <li><a href="{% url 'login' %}">급여명세서</a></li>
                                    </ul>
                                <li class="navmenu"><a href="{% url 'ticketing' %}">복지<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'events' %}">이벤트</a></li>
                                        <li><a href="{% url 'signup' %}">CEO와의 대화</a></li>
                                        <li><a href="{% url 'signup' %}">칭찬합니다</a></li>
                                        <li><a href="{% url 'signup' %}">식단표</a></li>
                                    </ul>
                                </li>
                                <li class="navmenu"><a href="{% url 'ticketing' %}">점검<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'signup' %}">점검 대상</a></li>
                                        <li><a href="{% url 'signup' %}">시설 현황</a></li>
                                        <li><a href="{% url 'signup' %}">시설물 교체 신청</a></li>
                                        <li><a href="{% url 'signup' %}">유통기한 확인</a></li>
                                    </ul>
                                </li>
                                <li class="navmenu"><a href="{% url 'ticketing' %}">관리자<span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'signup' %}">영화스케줄 관리</a></li>
                                        <li><a href="{% url 'signup' %}">계약 현황</a></li>
                                        <li><a href="{% url 'signup' %}">매출관리</a></li>
                                        <li><a href="{% url 'signup' %}">사원평가</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="{% url 'login' %}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    {% block contents %}
    {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>Hanyang Univ. ERICA
                        <br/>2-2 Database
                        <br/>Team A6
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/player.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('.navmenu').click(function() {
                $('.navmenu').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</body>
</html>