.ticketing {
    width: 80%;
    margin: 5% auto;
}

.ticketing h3 {
    font-weight: bold;
}

.ticketing .ticketing__container {
    margin-top: 20px;

    height: 552px;
    border: 2px solid #C4C4C4;
}