{% extends 'base_managerpage.html' %}
{% block content %}                        
        <h1 class="mt-4">직원 정보</h1>
        <ol class="breadcrumb mb-4">
            <!-- <li class="breadcrumb-item active">회원 정보</li> -->
        </ol>
            <div class="client information">   
                <br>            
                <ul>이름 :      </ul>               
                <br> 
                <ul>회원 등급 :   </ul>
                <br>
                <ul>생년월일 :   </ul>
                <br>
                <ul>성별 :   </ul>
                <br>
                <ul>아이디 :   </ul>
                <br>
                <ul>전화번호 :   </ul>
                <br>
                <ul>이메일 :   </ul>
            </div>
{% endblock %}